[Unit]
Description=Geckoforge first boot tasks (NVIDIA driver)
ConditionFirstBoot=yes
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/firstboot-nvidia.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
